*.class
*.log
.bloop/
.idea/.gitignore
.idea/.name
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/vcs.xml
.metals/metals.h2.db
.metals/metals.lock.db
project/.bloop/
project/target
project/target/streams/
target/
.DS_Store
